:root {
    --bg-color: #fff;
    --sbar-text: #1f1f1f;
    --sbar-color: #fff;
    --sbar-border: #dfe1e5;
    --sbar-shadow: #20212447;
    --btn-color: #f8f9fa;
    --btn-text: #3c4043;
    --btn-shadow: #8b8c9147;
    --footer-color: #f2f2f2;
    --footer-separator: #dadce0;
    --footer-text: #70757a;
    --header-text: #000000de;
}
html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
#switcher__dark:checked + .main {
    --bg-color: #181a1b;
    --sbar-text: #fff;
    --sbar-color: #151718;
    --sbar-border: #151718;
    --sbar-shadow: #24272947;
    --btn-color: #151718;
    --btn-text: #fff;
    --btn-shadow: #24272947;
    --footer-color: #1f2223;
    --footer-separator: #3a3e41;
    --footer-text: #e8e6e38a;
    --header-text: #ffffffde;
}
#switcher__dark:checked + .main .container .container__google .google__logo {
    filter: brightness(1000000%);
}
#switcher__dark:checked
    + .main
    .header
    .header__icons
    .header__g-apps
    .g-app__logo {
    filter: invert(100%);
}
/* * {
    transition: 0.10s ease-in-out;
    transition-property: all;
} */
.main {
    height: 100%;
    background-color: var(--bg-color);
}
.container {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#switcher__dark {
    cursor: pointer;
    top: -7px;
    position: absolute;
    display: none;
}
.header__dark-switcher {
    left: 10px;
    top: 10px;
    position: fixed;
}
.switcher-bg {
    position: absolute;
    background-color: #efefef;
    height: 14px;
    width: 30px;
    border-radius: 8px;
    z-index: -1;
    border: 2px solid #dfdfdf;
}
.switcher-dot {
    position: relative;
    background-color: #212121;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    transition: 0.25s ease-in-out;
    transition-property: all;
}
#switcher__dark:checked + .main .header .header__dark-switcher .switcher-dot {
    transform: translateX(16px);
    background-color: #efefef;
}
#switcher__dark:checked + .main .header .header__dark-switcher .switcher-bg {
    background-color: #212121;
    border: 2px solid #3d3d3d;
}

.container__google {
    display: flex;
    flex: content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.google__logo {
    height: 92px;
    max-height: calc(100vw - 20px) !important;
}
.sbar__input,
.sbar__input:focus,
.sbar__input:hover {
    background-color: var(--sbar-color);
    box-sizing: border-box;
    height: 44px;
    width: 584px;
    max-width: calc(100vw - 20px) !important;
    margin: 25px;
    border-radius: 50px;
    font-size: 16px;
    border: 1px solid var(--sbar-border);
    padding-inline: 16px;
    padding-inline-start: 32px;
    color: var(--sbar-text);
}
.sbar__input:focus,
.sbar__input:hover {
    border: none;
    box-shadow: 0px 0px 5px 1px var(--sbar-shadow);
    outline: none;
}
/*.google__sbar{
    position: relative;
    height: 44px;
    width: 584px;
}
.searchIcon{
    position: absolute;
    height: 14px;
    top: 0;
}*/
.container__buttons {
    display: flex;
    flex: content;
    flex-direction: row;
    padding-top: 5px;
    justify-content: center;
}
.container__buttons center input,
.container__buttons center input:hover {
    height: 36px;
    width: 138px;
    background-color: var(--btn-color);
    color: var(--btn-text);
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.container__buttons center input:hover {
    box-shadow: 0px 1px 2px 1px var(--btn-shadow);
}

/* Footer */

.footer {
    background-color: var(--footer-color);
    height: 94px;
    /*max-height: calc(100vw - 313px)!important;*/
    min-height: 47px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}
.footer__buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
    height: 46px;
    /*background-color: #4545;*/
}
.footer__buttons .left a,
.footer__buttons .right a {
    padding: 15px;
    font-size: clamp(8px, 14px, 14px);
    /*max-height: calc(100vw - 100px)!important;*/
}
.footer__local {
    border-bottom: 1px solid var(--footer-separator);
    padding: 15px 30px;
}
.footer__local,
a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: var(--footer-text);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.header__avatar a img {
    height: 32px;
}
.header__g-apps a img {
    height: 18px;
    color: #5f6368;
    fill: currentColor;
}

/* Header */

.header {
    position: fixed;
    right: 0;
    top: 0;
    padding: 6px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__icons {
    width: 96;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__avatar {
    order: 1;
}
.header__avatar,
.header__g-apps {
    padding: 8px;
}
.header__links a {
    color: var(--header-text);
    font-size: 13px;
}
.header__links {
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* .darkmodeButton input{
    position: fixed;
    left: 10px;
    top: 21.5px;
    background-color: #f8f9fa;
    border-color: #ffffff00;
    color: #3c4043;
} */
@media (max-width: 804px) {
    .footer__buttons .left a,
    .footer__buttons .right a {
        font-size: 12px;
    }
}
@media (max-width: 425px) {
    .footer__buttons .left {
        display: none;
    }
    .footer__buttons {
        justify-content: center;
    }
}
@media (max-width: 322px) {
    .footer__buttons .right a {
        font-size: 12px;
    }
}
