html,body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
.container{
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.google{
    display: flex;
    flex: content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.google>.iText, .google>.iText:focus, .google>.iText:hover{
    box-sizing: border-box;
    height: 44px;
    width: 584px;
    margin: 25px;
    border-radius: 50px;
    font-size: 16px;
    border: 1px solid #dfe1e5;
    padding-inline: 16px;
}
.google>.iText:focus, .google>.iText:hover{
    border: none;
    box-shadow: 0px 0px 5px 1px #20212447;
    outline: none;
}
.botoes{
    display: flex;
    flex: content;
    flex-direction: row;
    padding-top: 5px;
    justify-content: center;
}
.botoes>center>input, .botoes>center>input:hover{
    height: 36px;
    width: 138px;
    background-color: #f8f9fa;
    color: #3c4043;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.botoes>center>input:hover{
    box-shadow: 0px 1px 2px 1px #8b8c9147;
}
.footer{    
    background-color: #f2f2f2;
    height: 94px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}
.footerButtons{
    display: flex;
    justify-content: space-evenly;
    padding: 0 15px;
    align-items: center;
    height: 46px;    
}
.footerButtons>.left>a, .footerButtons>.right>a{
    padding: 15px;
}
.footerLocal{
    border-bottom: 1px solid #dadce0;
    padding: 15px 30px;
}
.footerLocal, a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #70757a;
}
a{
    text-decoration: none;
}